POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=codearena
POSTGRES_USER=codearena
POSTGRES_PASSWORD=codearena123

AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_KEY=your-secret-key
AWS_REGION=us-east-1
AWS_S3_BUCKET=codearena-testcases
